[color]
	ui = auto
[alias]
	st=status
	sh=show
	cm=commit
	br=branch
	db="!f() { git branch -D `git branch | peco`; }; f;"
	lg=log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d'
	alias=!git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	ls="!f() { git ls-files | peco; }; f;"
	rb=fetch --prune
	# See: https://github.com/iguto/dotfiles/blob/master/.gitconfig#L12-L14
	lock = "update-index --skip-worktree"
	locked = "!f() { git ls-files -v | grep ^S | sed -e 's|S ||'; }; f;"
	unlock = "update-index --no-skip-worktree"
	ck = "!f() { git checkout `git branch | peco`; }; f;"
	amend = "!f() { GIT_EDITOR=: git commit --amend; }; f;"
[push]
	default = current
[core]
	editor = /usr/local/bin/vim
	excludesfile = ~/.dotfiles/git/.gitignore
	ignorecase = false
[user]
	name = MaxMEllon
	email = maxmellon1994@gmail.com
	signingkey = 1366DCF8
[github]
	user = maxmellon
[ghq]
	root = ~/work/ghq
[init]
	templatedir = ~/.dotfiles/git/scripts
[commit]
	template = ~/.dotfiles/git/gitmessage.txt
