# completion
set completion-ignore-case on

# history
"\C-p":history-search-backward
"\C-n":history-search-forward

# meta
set kanji-code utf-8
# set convert-meta off
# set meta-flag on
# set output-meta on

# scrole-mode
set horizontal-scroll-mode on

# bell
set bell-style visible

# expand-tilde
set expand-tilde off

"\C-^": "~/"

# delete-char
"\e[3~": delete-char

# VT
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# kvt
"\e[H": beginning-of-line
"\e[F": end-of-line

# rxvt and konsole (i.e. the KDE-app...)
"\e[7~": beginning-of-line
"\e[8~": end-of-line

# VT220
"\eOH": beginning-of-line
"\eOF": end-of-line

